.elementBoxDetails{float:left; margin-top: 5px !important;box-shadow:2px 4px 5px rgba(0, 0, 0, .5);}

.panel.build-panel {
    overflow: visible;
}

.build-panel {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.panel-title a {
    text-transform: none !important;
}

.build-panel {
    margin: 10px 0 !important;
}

#accordion {
    padding-right: 20px;
}

.build-panel .panel-heading {
    height: 50px !important;
    text-transform: none !important;
    padding-left: 0;
    padding-right: 0;
}

.build-panel .panel-heading h4 {
  padding-left: 0;
  padding-right: 0;
}

.build-panel .panel-heading h4 a {
    text-decoration: none;
    position: relative;
    bottom: 3px;
    font-size: larger;
}



.build-panel .panel-heading h4 a .fa-question-circle {
    font-size: 2em;
    position: relative;
    top: 4px;
    margin-left: 15px;
}


/* PENDING */

.lead2_Pending.build-panel{
    border: 2px solid #CCCDCD !important;
        background-image:-webkit-linear-gradient(-270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(255,255,255, 0.11) 0%, rgb(255,255,255) 100%);
    background-image:-moz-linear-gradient(-270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(255,255,255, 0.11) 0%, rgb(255,255,255) 100%);
    background-image:-o-linear-gradient(-270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(255,255,255, 0.11) 0%, rgb(255,255,255) 100%);
    background-image:-ms-linear-gradient(-270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(255,255,255, 0.11) 0%, rgb(255,255,255) 100%);
    background-image:linear-gradient(-270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(255,255,255, 0.11) 0%, rgb(255,255,255) 100%);

}

.lead2_Pending.build-panel .panel-heading {
    /*background-color: #F3F5FA !important;*/
        background-image:-webkit-linear-gradient(-270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(255,255,255, 0.11) 0%, rgb(255,255,255) 100%);
    background-image:-moz-linear-gradient(-270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(255,255,255, 0.11) 0%, rgb(255,255,255) 100%);
    background-image:-o-linear-gradient(-270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(255,255,255, 0.11) 0%, rgb(255,255,255) 100%);
    background-image:-ms-linear-gradient(-270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(255,255,255, 0.11) 0%, rgb(255,255,255) 100%);
    background-image:linear-gradient(-270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(255,255,255, 0.11) 0%, rgb(255,255,255) 100%);
}

.lead2_Pending.build-panel .panel-body {
        background-image:-webkit-linear-gradient(-270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(255,255,255, 0.11) 0%, rgb(255,255,255) 100%);
    background-image:-moz-linear-gradient(-270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(255,255,255, 0.11) 0%, rgb(255,255,255) 100%);
    background-image:-o-linear-gradient(-270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(255,255,255, 0.11) 0%, rgb(255,255,255) 100%);
    background-image:-ms-linear-gradient(-270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(255,255,255, 0.11) 0%, rgb(255,255,255) 100%);
    background-image:linear-gradient(-270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(255,255,255, 0.11) 0%, rgb(255,255,255) 100%);
}


.lead2_Pending .panel-heading a.color{
    color: #6E6E6F !important;
}


.lead2_Pending.Firewall.icon{
   background-image: url("../images/firewall-grey.PNG");
   width: 32px;
   height: 29px;
   border: transparent;
}


.lead2_Pending.Build.icon{
   background-image: url("../images/pc-grey.PNG");
   width: 32px;
   height: 29px;
   border: transparent;
}

.elementBoxDetails.lead2_Pending.metrics
{
    width:180px; 
    height:155px; 
    margin:83px 0 0 1.6182%; 
    border:3px solid rgba(127, 127, 127, 0.91); 

    background:rgb(255, 255, 255); 
    background:-webkit-linear-gradient(345deg, rgb(255, 255, 255) 0%, rgb(255, 253, 253) 55.714285714285715%,  rgba(217, 220, 217, 0.94) 100%) rgba(199, 199, 199, 0.94); 
    background:-moz-linear-gradient(345deg, rgb(255, 255, 255) 0%, rgb(255, 253, 253) 55.714285714285715%,  rgba(217, 220, 217, 0.94) 100%) rgba(199, 199, 199, 0.94); 
    background:-o-linear-gradient(345deg, rgb(255, 255, 255) 0%, rgb(255, 253, 253) 55.714285714285715%,  rgba(217, 220, 217, 0.94) 100%) rgba(199, 199, 199, 0.94); 
    background:-ms-linear-gradient(345deg, rgb(255, 255, 255) 0%, rgb(255, 253, 253) 55.714285714285715%,  rgba(217, 220, 217, 0.94) 100%) rgba(199, 199, 199, 0.94); 
    background:linear-gradient(345deg, rgb(255, 255, 255) 0%, rgb(255, 253, 253) 55.714285714285715%,  rgba(217, 220, 217, 0.94) 100%) rgba(199, 199, 199, 0.94); 
}

.elementBoxDetails.lead2_Pending.build
{
    width:180px; 
    height:155px; 
    margin:83px 0 0 1.6182%; 
    border:3px solid rgba(127, 127, 127, 0.91); 
    background:rgb(255, 255, 255); 
    background:-webkit-linear-gradient(345deg, rgb(255, 255, 255) 0%, rgb(255, 253, 253) 55.714285714285715%,  rgba(217, 220, 217, 0.94) 100%) rgba(199, 199, 199, 0.94); 
    background:-moz-linear-gradient(345deg, rgb(255, 255, 255) 0%, rgb(255, 253, 253) 55.714285714285715%,  rgba(217, 220, 217, 0.94) 100%) rgba(199, 199, 199, 0.94); 
    background:-o-linear-gradient(345deg, rgb(255, 255, 255) 0%, rgb(255, 253, 253) 55.714285714285715%,  rgba(217, 220, 217, 0.94) 100%) rgba(199, 199, 199, 0.94); 
    background:-ms-linear-gradient(345deg, rgb(255, 255, 255) 0%, rgb(255, 253, 253) 55.714285714285715%,  rgba(217, 220, 217, 0.94) 100%) rgba(199, 199, 199, 0.94); 
    background:linear-gradient(345deg, rgb(255, 255, 255) 0%, rgb(255, 253, 253) 55.714285714285715%,  rgba(217, 220, 217, 0.94) 100%) rgba(199, 199, 199, 0.94); 
}

.elementBoxDetails.lead2_Pending.unittests
{
    width:180px; 
    height:155px; 
    margin:83px 0 0 2.09839%; 
    border:3px solid rgba(127, 127, 127, 0.91); 
    background:rgb(255, 255, 255); 
    background:-webkit-linear-gradient(345deg, rgb(255, 255, 255) 0%, rgb(255, 253, 253) 55.714285714285715%,  rgba(217, 220, 217, 0.94) 100%) rgba(199, 199, 199, 0.94); 
    background:-moz-linear-gradient(345deg, rgb(255, 255, 255) 0%, rgb(255, 253, 253) 55.714285714285715%,  rgba(217, 220, 217, 0.94) 100%) rgba(199, 199, 199, 0.94); 
    background:-o-linear-gradient(345deg, rgb(255, 255, 255) 0%, rgb(255, 253, 253) 55.714285714285715%,  rgba(217, 220, 217, 0.94) 100%) rgba(199, 199, 199, 0.94); 
    background:-ms-linear-gradient(345deg, rgb(255, 255, 255) 0%, rgb(255, 253, 253) 55.714285714285715%,  rgba(217, 220, 217, 0.94) 100%) rgba(199, 199, 199, 0.94); 
    background:linear-gradient(345deg, rgb(255, 255, 255) 0%, rgb(255, 253, 253) 55.714285714285715%,  rgba(217, 220, 217, 0.94) 100%) rgba(199, 199, 199, 0.94); 
}

.elementBoxDetails.lead2_Pending.functiontests
{
    width:180px; 
    height:155px; 
    margin:83px 0 0 1.35176%; 
    border:3px solid rgba(127, 127, 127, 0.91); 
    background:rgb(255, 255, 255); 
    background:-webkit-linear-gradient(345deg, rgb(255, 255, 255) 0%, rgb(255, 253, 253) 55.714285714285715%,  rgba(217, 220, 217, 0.94) 100%) rgba(199, 199, 199, 0.94); 
    background:-moz-linear-gradient(345deg, rgb(255, 255, 255) 0%, rgb(255, 253, 253) 55.714285714285715%,  rgba(217, 220, 217, 0.94) 100%) rgba(199, 199, 199, 0.94); 
    background:-o-linear-gradient(345deg, rgb(255, 255, 255) 0%, rgb(255, 253, 253) 55.714285714285715%,  rgba(217, 220, 217, 0.94) 100%) rgba(199, 199, 199, 0.94); 
    background:-ms-linear-gradient(345deg, rgb(255, 255, 255) 0%, rgb(255, 253, 253) 55.714285714285715%,  rgba(217, 220, 217, 0.94) 100%) rgba(199, 199, 199, 0.94); 
    background:linear-gradient(345deg, rgb(255, 255, 255) 0%, rgb(255, 253, 253) 55.714285714285715%,  rgba(217, 220, 217, 0.94) 100%) rgba(199, 199, 199, 0.94); 
}




/* RUNNING */

.lead2_Running.build-panel{
    border:3px solid #6996BD !important;
   /* color: #465067 !important;*/
 
    background-image:-webkit-linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(249, 249, 249, 0.11) 0%, rgb(228, 236, 254) 100%);
    background-image:-moz-linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(249, 249, 249, 0.11) 0%, rgb(228, 236, 254) 100%);
    background-image:-o-linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(249, 249, 249, 0.11) 0%, rgb(228, 236, 254) 100%);
    background-image:-ms-linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(249, 249, 249, 0.11) 0%, rgb(228, 236, 254) 100%);
    background-image:linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(249, 249, 249, 0.11) 0%, rgb(228, 236, 254) 100%);
}

.lead2_Running .panel-heading a.color{
    color: #465067 !important;
}

.lead2_Running.build-panel .panel-heading {
    /*background-color: #F1F4FA !important;*/

    background-image:-webkit-linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(249, 249, 249, 0.11) 0%, rgb(228, 236, 254) 100%);
    background-image:-moz-linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(249, 249, 249, 0.11) 0%, rgb(228, 236, 254) 100%);
    background-image:-o-linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(249, 249, 249, 0.11) 0%, rgb(228, 236, 254) 100%);
    background-image:-ms-linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(249, 249, 249, 0.11) 0%, rgb(228, 236, 254) 100%);
    background-image:linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(249, 249, 249, 0.11) 0%, rgb(228, 236, 254) 100%);
}

.lead2_Running.build-panel .panel-body {
 /*   background-color: #F1F4FA !important;*/

    background-image:-webkit-linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(249, 249, 249, 0.11) 0%, rgb(228, 236, 254) 100%);
    background-image:-moz-linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(249, 249, 249, 0.11) 0%, rgb(228, 236, 254) 100%);
    background-image:-o-linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(249, 249, 249, 0.11) 0%, rgb(228, 236, 254) 100%);
    background-image:-ms-linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(249, 249, 249, 0.11) 0%, rgb(228, 236, 254) 100%);
    background-image:linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(249, 249, 249, 0.11) 0%, rgb(228, 236, 254) 100%);

}


.elementBoxDetails.lead2_Running.metrics
{
    width:180px; 
    height:155px; 
    margin:83px 0 0 1.6182%; 
 border:3px solid #6996BD;
    background:rgb(255, 255, 255); 
 
background:-webkit-linear-gradient(130deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 51.19047619047619%, rgb(228, 237, 255) 100%) rgb(228, 235, 249); 
background:-moz-linear-gradient(130deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 51.19047619047619%, rgb(228, 237, 255) 100%) rgb(228, 235, 249); 
background:-o-linear-gradient(130deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 51.19047619047619%, rgb(228, 237, 255) 100%) rgb(228, 235, 249); 
background:-ms-linear-gradient(130deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 51.19047619047619%, rgb(228, 237, 255) 100%) rgb(228, 235, 249); 
background:linear-gradient(320deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 51.19047619047619%, rgb(228, 237, 255) 100%) rgb(228, 235, 249); 
}

.elementBoxDetails.lead2_Running.build
{
    width:180px; 
    height:155px; 
    margin:83px 0 0 1.6182%; 
    border:3px solid #6996BD;
    background:rgb(255, 255, 255); 
 

background:-webkit-linear-gradient(130deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 51.19047619047619%, rgb(228, 237, 255) 100%) rgb(228, 235, 249); 
background:-moz-linear-gradient(130deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 51.19047619047619%, rgb(228, 237, 255) 100%) rgb(228, 235, 249); 
background:-o-linear-gradient(130deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 51.19047619047619%, rgb(228, 237, 255) 100%) rgb(228, 235, 249); 
background:-ms-linear-gradient(130deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 51.19047619047619%, rgb(228, 237, 255) 100%) rgb(228, 235, 249); 
background:linear-gradient(320deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 51.19047619047619%, rgb(228, 237, 255) 100%) rgb(228, 235, 249); 
}

.elementBoxDetails.lead2_Running.unittests
{
    width:180px; 
    height:155px; 
    margin:83px 0 0 2.09839%; 
    border:3px solid #6996BD;
    background:rgb(255, 255, 255); 
 
 
background:-webkit-linear-gradient(130deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 51.19047619047619%, rgb(228, 237, 255) 100%) rgb(228, 235, 249); 
background:-moz-linear-gradient(130deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 51.19047619047619%, rgb(228, 237, 255) 100%) rgb(228, 235, 249); 
background:-o-linear-gradient(130deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 51.19047619047619%, rgb(228, 237, 255) 100%) rgb(228, 235, 249); 
background:-ms-linear-gradient(130deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 51.19047619047619%, rgb(228, 237, 255) 100%) rgb(228, 235, 249); 
background:linear-gradient(320deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 51.19047619047619%, rgb(228, 237, 255) 100%) rgb(228, 235, 249); 
}

.elementBoxDetails.lead2_Running.functiontests
{
    width:180px; 
    height:155px; 
    margin:83px 0 0 1.35176%; 
    border:3px solid #6996BD;
    background:rgb(255, 255, 255); 
background:-webkit-linear-gradient(130deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 51.19047619047619%, rgb(228, 237, 255) 100%) rgb(228, 235, 249); 
background:-moz-linear-gradient(130deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 51.19047619047619%, rgb(228, 237, 255) 100%) rgb(228, 235, 249); 
background:-o-linear-gradient(130deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 51.19047619047619%, rgb(228, 237, 255) 100%) rgb(228, 235, 249); 
background:-ms-linear-gradient(130deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 51.19047619047619%, rgb(228, 237, 255) 100%) rgb(228, 235, 249); 
background:linear-gradient(320deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 51.19047619047619%, rgb(228, 237, 255) 100%) rgb(228, 235, 249); 
}


.lead2_Running.Firewall.icon{
   background-image: url("../images/firewall-blue.PNG");
   width: 32px;
   height: 29px;
   border: transparent;
}


.lead2_Running.Build.icon{
   background-image: url("../images/pc-blue.PNG");
   width: 32px;
   height: 29px;
   border: transparent;
}


/* REJECTED */

.lead2_Rejected.build-panel {
   border:3px solid #F18A8B !important;
     background-image:-webkit-linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(249, 249, 249, 0.11) 0%, rgb(254,228,236) 100%);
    background-image:-moz-linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(249, 249, 249, 0.11) 0%, rgb(254,228,236) 100%);
    background-image:-o-linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(249, 249, 249, 0.11) 0%, rgb(254,228,236) 100%);
    background-image:-ms-linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(249, 249, 249, 0.11) 0%, rgb(254,228,236) 100%);
    background-image:linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(249, 249, 249, 0.11) 0%, rgb(254,228,236) 100%);
}

.lead2_Rejected.build-panel .panel-heading {
  /*background-color: #FDEFEF;*/
     background-image:-webkit-linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(249, 249, 249, 0.11) 0%, rgb(254,228,236) 100%);
    background-image:-moz-linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(249, 249, 249, 0.11) 0%, rgb(254,228,236) 100%);
    background-image:-o-linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(249, 249, 249, 0.11) 0%, rgb(254,228,236) 100%);
    background-image:-ms-linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(249, 249, 249, 0.11) 0%, rgb(254,228,236) 100%);
    background-image:linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(249, 249, 249, 0.11) 0%, rgb(254,228,236) 100%);
}

.lead2_Rejected.build-panel .panel-body {
  /*background-color: #FDEFEF;*/
     background-image:-webkit-linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(249, 249, 249, 0.11) 0%, rgb(254,228,236) 100%);
    background-image:-moz-linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(249, 249, 249, 0.11) 0%, rgb(254,228,236) 100%);
    background-image:-o-linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(249, 249, 249, 0.11) 0%, rgb(254,228,236) 100%);
    background-image:-ms-linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(249, 249, 249, 0.11) 0%, rgb(254,228,236) 100%);
    background-image:linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.18) 0.4761904761904762%, rgba(249, 249, 249, 0.11) 0%, rgb(254,228,236) 100%);
}



.elementBoxDetails.lead2_Rejected.metrics
{
    width:180px; 
    height:155px; 
    margin:83px 0 0 1.6182%; 
border:3px solid #f18a8b; 
background:rgb(255, 255, 255); 
background:-webkit-linear-gradient(126deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 56.666666666666664%, rgba(255, 138, 138, 0.94) 100%) rgba(253, 16, 16, 0.94); 
background:-moz-linear-gradient(126deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 56.666666666666664%, rgba(255, 138, 138, 0.94) 100%) rgba(253, 16, 16, 0.94); 
background:-o-linear-gradient(126deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 56.666666666666664%, rgba(255, 138, 138, 0.94) 100%) rgba(253, 16, 16, 0.94); 
background:-ms-linear-gradient(126deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 56.666666666666664%, rgba(255, 138, 138, 0.94) 100%) rgba(253, 16, 16, 0.94); 
background:linear-gradient(324deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 56.666666666666664%, rgba(255, 138, 138, 0.94) 100%) rgba(253, 16, 16, 0.94); }

.elementBoxDetails.lead2_Rejected.build
{
    width:180px; 
    height:155px; 
    margin:83px 0 0 1.6182%; 
border:3px solid #f18a8b; 
background:rgb(255, 255, 255); 
background:-webkit-linear-gradient(126deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 56.666666666666664%, rgba(255, 138, 138, 0.94) 100%) rgba(253, 16, 16, 0.94); 
background:-moz-linear-gradient(126deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 56.666666666666664%, rgba(255, 138, 138, 0.94) 100%) rgba(253, 16, 16, 0.94); 
background:-o-linear-gradient(126deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 56.666666666666664%, rgba(255, 138, 138, 0.94) 100%) rgba(253, 16, 16, 0.94); 
background:-ms-linear-gradient(126deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 56.666666666666664%, rgba(255, 138, 138, 0.94) 100%) rgba(253, 16, 16, 0.94); 
background:linear-gradient(324deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 56.666666666666664%, rgba(255, 138, 138, 0.94) 100%) rgba(253, 16, 16, 0.94); }

.elementBoxDetails.lead2_Rejected.unittests
{
    width:180px; 
    height:155px; 
    margin:83px 0 0 2.09839%; 
border:3px solid #f18a8b; 
background:rgb(255, 255, 255); 
background:-webkit-linear-gradient(126deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 56.666666666666664%, rgba(255, 138, 138, 0.94) 100%) rgba(253, 16, 16, 0.94); 
background:-moz-linear-gradient(126deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 56.666666666666664%, rgba(255, 138, 138, 0.94) 100%) rgba(253, 16, 16, 0.94); 
background:-o-linear-gradient(126deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 56.666666666666664%, rgba(255, 138, 138, 0.94) 100%) rgba(253, 16, 16, 0.94); 
background:-ms-linear-gradient(126deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 56.666666666666664%, rgba(255, 138, 138, 0.94) 100%) rgba(253, 16, 16, 0.94); 
background:linear-gradient(324deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 56.666666666666664%, rgba(255, 138, 138, 0.94) 100%) rgba(253, 16, 16, 0.94); 
}

.elementBoxDetails.lead2_Rejected.functiontests
{
    width:180px; 
    height:155px; 
    margin:83px 0 0 1.35176%; 
border:3px solid #f18a8b; 
background:rgb(255, 255, 255); 
background:-webkit-linear-gradient(126deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 56.666666666666664%, rgba(255, 138, 138, 0.94) 100%) rgba(253, 16, 16, 0.94); 
background:-moz-linear-gradient(126deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 56.666666666666664%, rgba(255, 138, 138, 0.94) 100%) rgba(253, 16, 16, 0.94); 
background:-o-linear-gradient(126deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 56.666666666666664%, rgba(255, 138, 138, 0.94) 100%) rgba(253, 16, 16, 0.94); 
background:-ms-linear-gradient(126deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 56.666666666666664%, rgba(255, 138, 138, 0.94) 100%) rgba(253, 16, 16, 0.94); 
background:linear-gradient(324deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 56.666666666666664%, rgba(255, 138, 138, 0.94) 100%) rgba(253, 16, 16, 0.94); 
}



.lead2_Rejected .panel-heading a.color{
    color: #9B1815 !important;
}



.lead2_Rejected.Firewall.icon{
   background-image: url("../images/firewall-red.PNG");
   width: 32px;
   height: 29px;
   border: transparent;
}


.lead2_Rejected.Build.icon{
   background-image: url("../images/pc-red.PNG");
   width: 32px;
   height: 29px;
   border: transparent;
}




.elementBoxDetails.lead2_Completed.metrics
{
    width:180px; 
    height:155px; 
    margin:83px 0 0 1.6182%; 
    border:3px solid rgba(66, 121, 65, 0.91); 
 background:-webkit-linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(229, 255, 228, 0.94) 100%) rgba(229, 255, 228, 0.94); 
  background:-moz-linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(229, 255, 228, 0.94) 100%) rgba(229, 255, 228, 0.94); 
  background:-o-linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(229, 255, 228, 0.94) 100%) rgba(229, 255, 228, 0.94); 
  background:-ms-linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(229, 255, 228, 0.94) 100%) rgba(229, 255, 228, 0.94); 
  background:linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(229, 255, 228, 0.94) 100%) rgba(229, 255, 228, 0.94); 
   }

.elementBoxDetails.lead2_Completed.build
{
    width:180px; 
    height:155px; 
    margin:83px 0 0 1.6182%; 
border:3px solid rgba(66, 121, 65, 0.91); 
 background:-webkit-linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(229, 255, 228, 0.94) 100%) rgba(229, 255, 228, 0.94); 
  background:-moz-linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(229, 255, 228, 0.94) 100%) rgba(229, 255, 228, 0.94); 
  background:-o-linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(229, 255, 228, 0.94) 100%) rgba(229, 255, 228, 0.94); 
  background:-ms-linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(229, 255, 228, 0.94) 100%) rgba(229, 255, 228, 0.94); 
  background:linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(229, 255, 228, 0.94) 100%) rgba(229, 255, 228, 0.94); 
}

.elementBoxDetails.lead2_Completed.unittests
{
    width:180px; 
    height:155px; 
    margin:83px 0 0 2.09839%; 
border:3px solid rgba(66, 121, 65, 0.91); 
 background:-webkit-linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(229, 255, 228, 0.94) 100%) rgba(229, 255, 228, 0.94); 
  background:-moz-linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(229, 255, 228, 0.94) 100%) rgba(229, 255, 228, 0.94); 
  background:-o-linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(229, 255, 228, 0.94) 100%) rgba(229, 255, 228, 0.94); 
  background:-ms-linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(229, 255, 228, 0.94) 100%) rgba(229, 255, 228, 0.94); 
  background:linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(229, 255, 228, 0.94) 100%) rgba(229, 255, 228, 0.94); 
}

.elementBoxDetails.lead2_Completed.functiontests
{
    width:180px; 
    height:155px; 
    margin:83px 0 0 1.35176%; 
border:3px solid rgba(66, 121, 65, 0.91); 
 background:-webkit-linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(229, 255, 228, 0.94) 100%) rgba(229, 255, 228, 0.94); 
  background:-moz-linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(229, 255, 228, 0.94) 100%) rgba(229, 255, 228, 0.94); 
  background:-o-linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(229, 255, 228, 0.94) 100%) rgba(229, 255, 228, 0.94); 
  background:-ms-linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(229, 255, 228, 0.94) 100%) rgba(229, 255, 228, 0.94); 
  background:linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(229, 255, 228, 0.94) 100%) rgba(229, 255, 228, 0.94); 
}

.lead2_Completed.Firewall.icon{
   background-image: url("../images/firewall-green.PNG");
   width: 32px;
   height: 29px;
   border: transparent;
}


.lead2_Completed.Build.icon{
   background-image: url("../images/pc-green.PNG");
   width: 32px;
   height: 29px;
   border: transparent;
}


.no-padding-left {
  padding-left: 0;
}


